.user-container {
  background: #ffffff;
  padding: 14px;
  border-radius: 10px;
  max-width: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.user-container h2{
    border-bottom:2px solid #ccc;
    padding: 10px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
 
}

.field select {
  width: 250px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.permission-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}


.permission-table th,
.permission-table td {
  padding: 12px;
  border-bottom: 2px solid #e0c3c3;
  /* border: 1px solid black; */
  text-align: center;
}

.actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.save-btn {
  margin-top: 20px;
  background-color: #4f46e5;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  left: 30px;
}

.save-btn:hover {
  background-color: #4338ca;
}
